In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./data1/titanic.csv')

In [ ]:
df5 =df6 = df.groupby('Sex').Survived.sum().to_frame()
df6

In [4]:
df6 = df.groupby('Sex').Survived.sum().to_frame()
df6

        Survived
Sex
female       385
male         109

In [5]:
df7 = df.groupby('Sex').Survived.mean().to_frame()
df7

        Survived
Sex
female   0.82618
male     0.12930

In [6]:
df8 = pd.concat([df5,df6,df7],axis=1)
df8.columns =['승선자수','생존자수','생존비율']
df8

NameError: name 'df5' is not defined

In [8]:
#성별 객실등급별 생존률 
df.groupby(['Sex','Pclass']).Survived.mean().to_frame()

               Survived
Sex    Pclass
female 1       0.979167
       2       0.943396
       3       0.666667
male   1       0.251397
       2       0.099415
       3       0.095335

In [11]:
#내가 만든 사용자 지정 함수 적용  -> .agg (사용자 정의 함수, 매개변수)
def my_mean(values):
    return sum(values) / len(values)

In [12]:
df.groupby(['Sex','Pclass']).Survived.agg(my_mean)

Sex     Pclass
female  1         0.979167
        2         0.943396
        3         0.666667
male    1         0.251397
        2         0.099415
        3         0.095335
Name: Survived, dtype: float64