In [1]:
import pandas as pd
#panel dates 약자

In [2]:
dict_data = {'a':1, 'b':2 , 'c':3}
sr = pd.Series(dict_data)

In [3]:
print(sr)

a    1
b    2
c    3
dtype: int64

In [4]:
print(type(sr))

<class 'pandas.core.series.Series'>

In [5]:
print(type(dict_data))

<class 'dict'>

In [6]:
list_data = ['2018-01-01',3.14,'abc',100,True]
sr_list = pd.Series(list_data)

In [7]:
print(sr_list)

0    2018-01-01
1          3.14
2           abc
3           100
4          True
dtype: object

In [10]:
idx = sr_list.index
val = sr_list.values
print(idx)

RangeIndex(start=0, stop=5, step=1)

In [11]:
print(val)

['2018-01-01' 3.14 'abc' 100 True]

In [15]:
tup_data = ('영인','2010-05-01','여',True)
sr_tup = pd.Series(tup_data, index=['이름','생년월일','성별','학생여부'])
#### index 값으로 key를 지정할 수 있다.

In [16]:
sr_tup

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [18]:
print(sr_tup[0])

영인

In [19]:
print(sr_tup['이름'])

영인

In [23]:
print(sr_tup[[1,2]])

생년월일    2010-05-01
성별               여
dtype: object

In [24]:
print(sr_tup[['생년월일','성별']])

생년월일    2010-05-01
성별               여
dtype: object

In [25]:
#9904312, 3448737, 280451, 2466052
#서울 , 부산 , 인천, 대구

In [27]:
sr_reg = [9904312, 3448737, 280451, 2466052]
pd.Series(sr_reg)

0    9904312
1    3448737
2     280451
3    2466052
dtype: int64

In [28]:
tup_reg = (9904312, 3448737, 280451, 2466052)
sr_reg = pd.Series(tup_reg, index=['서울','부산','인천','대구'])

In [29]:
sr_reg

서울    9904312
부산    3448737
인천     280451
대구    2466052
dtype: int64

In [36]:
print(sr_reg[[1]])

부산    3448737
dtype: int64

In [38]:
print(sr_reg[['부산']])

부산    3448737
dtype: int64

In [40]:
print(sr_reg[1],sr_reg['부산'])

3448737 3448737

In [43]:
print(sr_reg[[1,3]], sr_reg[['서울','부산']])

부산    3448737
대구    2466052
dtype: int64 서울    9904312
부산    3448737
dtype: int64

In [45]:
for key , value in sr.items():
    print(f'key는{key}이고 value는 {value}다')

key는a이고 value는 1다
key는b이고 value는 2다
key는c이고 value는 3다

In [46]:
#series는 numpy 1차원 배열로 변환된다.
sr/1000000

a    0.000001
b    0.000002
c    0.000003
dtype: float64

In [51]:
#dirc_sr = {'서울':999999, '부산':99999}
#dict_sr/1000      series는 계산이 안됨

In [55]:
sr2 = pd.Series({'서울':9631482,'부산':3393191,'인천':2632035,'대전':1490158})
sr2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [56]:
sr = pd.Series([9631482,3448737,2890451,2466052], index=['서울','부산','인천','대구']) 
sr

서울    9631482
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [65]:
#인덱스 값이 다른 데이터는 연산이 되지만 잘안됨
#연산이 안되는 것의 결과는 NaN(Not a Number, 결측치)
# np.NaN 데이터 타입은 실수 float
ds = sr-sr2
ds

대구         NaN
대전         NaN
부산     55546.0
서울         0.0
인천    258416.0
dtype: float64

In [63]:
sr.index, sr.values

(Index(['서울', '부산', '인천', '대구'], dtype='object'),
 array([9631482, 3448737, 2890451, 2466052], dtype=int64))

In [67]:
#element 갯수를 세는 method
sr.count()

4

In [68]:
sr2.count()

4

In [72]:
ds.count()    ### NaN은 COUNT 되지 않는다.

3

In [70]:
#카테고리의 값 세는 method   # 성별이나 연령대 count 시 유용함 
sr.value_counts()

9631482    1
3448737    1
2890451    1
2466052    1
dtype: int64

In [73]:
# 값을 세는 method 예시  (실제 data)
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ---------------------------------------- 0.0/293.3 kB ? eta -:--:--
     ------------------------------------- 293.3/293.3 kB 17.7 MB/s eta 0:00:00
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\python38\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\python38\lib\site-packages (from seaborn) (1.24.2)
Requirement already satisfied: pandas>=0.25 in c:\python38\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (5.12.0)
Requirement already satisfied: cycler>=0.10 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: pytz>=2020.1 in c:\python38\lib\site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: zipp>=3.1.0 in c:\python38\lib\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.15.0)
Requirement already satisfied: six>=1.5 in c:\python38\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2

In [76]:
import seaborn as sns
iris = sns.load_dataset('iris')
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [77]:
iris.value_counts()

sepal_length  sepal_width  petal_length  petal_width  species
5.8           2.7          5.1           1.9          virginica     2
6.2           2.2          4.5           1.5          versicolor    1
              2.9          4.3           1.3          versicolor    1
              3.4          5.4           2.3          virginica     1
6.3           2.3          4.4           1.3          versicolor    1
                                                                   ..
5.4           3.9          1.3           0.4          setosa        1
                           1.7           0.4          setosa        1
5.5           2.3          4.0           1.3          versicolor    1
              2.4          3.7           1.0          versicolor    1
7.9           3.8          6.4           2.0          virginica     1
Length: 149, dtype: int64

In [79]:
iris['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [80]:
iris['sepal_length'].value_counts()

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: sepal_length, dtype: int64

In [81]:
#카테고리형 자료의 종류의 갯수를 알 수 있는 코드
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [84]:
#인구데이터  도시 인구 합 , 평균
sr.sum() , sr.mean()

(18436722, 4609180.5)

#정렬메소드  #default sscending true ->오름차순

In [85]:
sr.sort_values(ascending=False)

서울    9631482
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [86]:
sr.sort_values()

대구    2466052
인천    2890451
부산    3448737
서울    9631482
dtype: int64